@import "../../sass/abstract/function.scss";

.header {
  @include flex(row, space-between, center);
  position: relative;

  .nav_container {
    @include flexCenter(column);
  }

  .logo {
    @include flexCenter();
    height: 25px;

    @media screen and (max-width: 768px) {
      margin: 0 0 0 60px;
      flex: 1;
    }

    @media screen and (max-width: 600px) {
      margin: 0;
    }
  }
  .SVG_container {
    position: relative;
    @include flexCenter();
    cursor: pointer;

    svg {
      color: white;
      transition: 0.5s;
    }

    &:hover {
      svg {
        transition: 0.5s;
        color: var(--background-orange);
      }
    }
  }
}
