@import "../../sass/abstract/function.scss";

.header {
  @include flex(row, space-between, center);
  position: relative;

  .nav_container {
    @include flexCenter(column);
  }

  .logo {
    @include flexCenter();
    height: 25px;

    @media screen and (max-width: 768px) {
      margin: 0 0 0 60px;
      flex: 1;
    }

    @media screen and (max-width: 600px) {
      margin: 0;
    }
  }
  .SVG_container {
    position: relative;
    @include flexCenter();

    .qtyProduct {
      @include flexCenter();
      position: absolute;
      top: -0.5rem;
      right: -2.25rem;
      background-color: var(--background-orange);
      color: white;
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
      padding: 0.75rem;
      font-size: 11px;
    }
  }
}
