@import "../../sass/abstract/function.scss";

.checkout {
  @include flex();
  width: 100%;
  gap: 30px;
  padding: 142px 0;

  form,
  .aside {
    background-color: var(--background-light);
    border-radius: 8px;
  }

  .aside {
    @include flex();
    @include responsiveContainer(350px);
  }
}

@media screen and (max-width: 1280px) {
  .checkout {
    @include flex(column);
    gap: 2rem;
    padding: 97px 0 116px;
  }

  form,
  .aside {
    @include responsiveContainer(100%);
  }

  .aside {
    padding: 0 1.5rem;
    @include flexCenter();
  }
}
