@import "../../sass/abstract/function.scss";

.checkout {
  @include flex();
  width: 100%;
  gap: 30px;
  padding: 142px 0;

  form,
  aside {
    background-color: var(--background-light);
    border-radius: 8px;
  }

  aside {
    @include responsiveContainer(350px);
    display: flex;
  }
}
