@import "../../sass/abstract/function.scss";

.notification {
  position: fixed;
  padding: 2rem;
  bottom: 0;
  right: 0;
  z-index: 2000;
  p {
    color: white;
  }
}

.notif_alert {
  background-color: red;
}

.notif_info {
  background-color: rgb(236, 178, 16);
}
