@import "../../sass/abstract/function.scss";

.notification {
  position: fixed;
  padding: 1rem 2rem;
  bottom: 0;
  right: 0;
  z-index: 2000;
  p {
    color: white;
  }
}

.notif_alert {
  background-color: var(--red);
}

.notif_info {
  background-color: var(--background-orange);
}
