@import "./../../../sass/abstract/function.scss";

.wrapper {
  @include flex(column, center, center);
  max-width: 1440px;
  width: 100%;

  h1 {
    width: 100%;
    text-align: center;
    margin: 0 0 2.5rem 0;
  }
}

.wrapper_caddy {
  width: 100%;
  @include flexCenter();
}

.listProduct {
  @include flex(row, center, center);
  gap: 3rem;
  margin: 0 0 4rem 0;
}
