@import "../../sass/abstract/function.scss";

.navigation_mobil {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 50;
  transition: 0.8s;

  @media screen and (min-width: 600px) {
    display: none;
  }

  &[data-isopen="false"] {
    transition: 0.8s;
    transform: translateY(-100%);
  }

  &[data-isopen="true"] {
    transition: 0.8s;
    transform: translateY(0);
  }

  .navigation_content {
    padding: 84px 1.5rem 2rem;
    background-color: var(--background-light);
    @include flexCenter(column);
    gap: 68px;
  }

  h1 {
    color: red;
  }
}
