@import "../../../sass/abstract/function.scss";

.cart,
.summary {
  @include responsiveContainer(100%);
  @include flex(column, space-between, center, nowrap);
}

.cart_list__content {
  @include flex(row, space-between, center, nowrap);
  @include responsiveContainer(100%);
  gap: 1rem;

  header {
    @include flex(row, space-between, center, nowrap);
    gap: 1rem;
  }

  .img_container {
    @include size(64px, 64px);
    @media screen and (max-width: 360px) {
      @include size(48px);
    }

    img {
      border-radius: 8px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .cart_details {
    @include flex(column);
    @media screen and (max-width: 360px) {
      p {
        font-size: 13px;
      }
    }
  }

  .input_number {
    @include flex(row, flex-end);

    button,
    input {
      border: none;
      background-color: var(--background-grey);
      height: 32px;
      text-align: center;
    }

    input {
      width: 32px;
      font-size: 13px;
      font-weight: bold;
      &:focus {
        outline: none;
      }
    }
    button {
      width: 32px;
      color: lighten(black, 65%);
      &:hover {
        color: var(--text-orange);
      }
    }
  }
}

.action_callback {
  @include responsiveContainer(100%);
  @include flex(row, space-between, center, nowrap);
  background-color: rgb(243, 197, 197);
  padding: 0.5rem;
  margin: 0.5rem 0;

  p {
    color: black;
    font-size: 13px;
    font-weight: bold;
  }
  span {
    @include flex();
    gap: 1rem;
  }

  button {
    border: none;
    padding: 0.5rem 1rem;
  }
}

.valid_order {
  @include flex(column, flex-start, flex-start);
  margin: 0 0 1rem 0;
  border-radius: 8px 0 0 8px;

  .img_container {
    @include size(50px);
  }

  .cart_details {
    @include flex(column, space-between);
    align-self: stretch;

    &:last-child {
      margin: 0;
    }
  }
}
