@import "../../sass/abstract/function.scss";

.summary {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  @include responsiveContainer(100%);
  width: 100%;

  @media screen and (max-width: 600px) {
    padding: 2rem 1.5rem;
  }
}

.cart {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  padding: 2rem 1.75rem;
  border-radius: 8px;
  @include responsiveContainer(377px);

  @media screen and (max-width: 600px) {
    @include responsiveContainer(calc(100% - 3rem));
    margin: auto;
    left: 0;
  }

  footer {
    a {
      margin: 1.5rem 0 0 0;
    }
  }
}

.header_top {
  @include flex(row, space-between, center);
  margin: 0 0 2rem 0;
  @include responsiveContainer(100%);
  button {
    background-color: none;
    text-decoration: underline;
    border: none;
    font-weight: 700;
    transition: 0.5s;
    &:hover {
      color: var(--red);
      transition: 0.5s;
    }
  }
}

.cart_list__container {
  @include flex(column);
  gap: 1.5rem;
  @include responsiveContainer(100%);
}

.bill_calc {
  margin: 2rem 0 0 0;
  gap: 8px;
  @include flex(column);
}

.total_and_pay {
  @include flex(column);
  width: 100%;
  margin: 1.5rem 0 0 0;
  gap: 2rem;
}
.bill_item {
  @include flex(row, space-between);
  width: 100%;
  p:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: var(--text-dark);
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
