@import "../../sass/abstract/function.scss";

.navigation_home {
  @include flex(row, space-between);
  @media screen and(max-width: 767px) {
    @include flexCenter(column);
    gap: 68px;
  }

  .item_container {
    @include responsiveContainer(350px);

    @media screen and(max-width: 1280px) {
      @include responsiveContainer(260px);
    }
    @media screen and(max-width: 960px) {
      @include responsiveContainer(203px);
    }
    @media screen and(max-width: 767px) {
      @include responsiveContainer(100%);
    }
  }
}
