@import "../../sass/abstract/function.scss";

.navigation_home {
  @include responsiveContainer(100%);
  @include flex(row, space-between);
  gap: 30px;
  @media screen and(max-width: 767px) {
    @include flexCenter(column);
    gap: 68px;
  }

  .item_container {
    flex: 1;
    @media screen and(max-width: 767px) {
      @include responsiveContainer(100%);
    }
  }
}
