@import "../../../sass/abstract/function.scss";

.update_cart {
  @include flex(column);
  gap: 16;
}

.input_number {
  @include flex(row, flex-end);

  button,
  input {
    border: none;
    background-color: var(--background-grey);
    height: 32px;
    text-align: center;
  }

  input {
    width: 32px;
    font-size: 13px;
    font-weight: bold;
    &:focus {
      outline: none;
    }
  }
  button {
    width: 32px;
    color: lighten(black, 65%);
    &:hover {
      color: var(--text-orange);
    }
  }
}
