@import "../../sass/abstract/function.scss";

.nav_header {
  flex: 1;

  @include flex(row, flex-start, center, nowrap);
  gap: 34px;
  align-self: flex-start;

  // @media screen and (max-width: 1080px) {
  //   padding: 0 0 0 18.2vmax;
  // }
  // @media screen and (max-width: 960px) {
  //   padding: 0 0 0 15.2vmin;
  // }

  @media screen and (max-width: 768px) {
    display: none;
  }
  a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      color: var(--text-orange);
    }
  }
}
