@import "../../sass/abstract/function.scss";

.list_categories {
  @include flexCenter(column);
  gap: 160px;
  min-height: 100%;
  content: " ";
  width: 100%;

  @media screen and (max-width: 600px) {
  }
}
