@import "../../sass/abstract/function.scss";

.hero_content {
  @include flexCenter();
  @include responsiveContainer(1440px);

  @media screen and (max-width: 768px) {
    @include responsiveContainer(100%);
  }

  .img_container {
    width: 100%;

    img {
      overflow: hidden;
      object-fit: cover;

      height: 100%;
      width: 100%;
    }
  }
}
