@import "./core/sass/abstract/function.scss";

:root {
  --text-orange: #d87d4a;
  --text-orange--light: #fbaf85;
  --text-dark: black;
  --text-dark-light: #808080;
  --text-light: white;

  --background-orange: #d87d4a;
  --background-orange-light: #fbaf85;
  --background-dark: black;
  --background-light: white;
  --background-grey: #f1f1f1;
  --background-grey-light: #fafafa;

  --red: #cd2c2c;
  --border-grey: #cfcfcf;

  --arrow-svg: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.32178 1L6.32178 6L1.32178 11' stroke='%23D87D4A' stroke-width='2'/%3E%3C/svg%3E%0A");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: var(--text-dark);
  font-weight: 700;
}

h1 {
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
}

h2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.15px;
}

h4 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.3px;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.3px;
}

.text {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: var(--text-dark);
}

.text_overline {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 10px;
  color: var(--text-orange--light);
  font-weight: bold;
  text-transform: uppercase;
}

.text_subtitle {
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 1px;
  color: var(--text-orange);
  font-weight: bold;
}

.text_error {
  font-size: 12px;
  color: var(--red);
  font-weight: 600;
  letter-spacing: -0.2px;
}

label {
  font-weight: 900;
  font-size: 12px;
}

.btn {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 18px;
}

.btn_primary {
  padding: 15px 30px;
  color: white;
  background-color: var(--background-orange);
  transition: 0.5s;

  &:hover {
    background-color: var(--background-orange-light);
    transition: 0.5s;
  }
}
.btn_secondary {
  padding: 14px 30px;
  color: var(--text-dark);
  background-color: var(--background-light);
  transition: 0.5s;
  border: 1px solid var(--background-dark);

  &:hover {
    background-color: var(--background-dark);
    color: var(--text-light);
    transition: 0.5s;
  }
}
.btn_arrow {
  position: relative;
  padding: 0 14px;
  height: 48px;
  color: var(--text-dark-light);
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    color: var(--text-orange);
  }

  &:before {
    position: absolute;
    content: " ";
    background-image: var(--arrow-svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 18px;
    right: 0;
    top: centerAbsolute(14px);
  }
}

.input_number {
  @include flexCenter();
  @include responsiveContainer(120px);
  button,
  input {
    border: none;
    background-color: var(--background-grey);
    height: 48px;
  }
  input {
    text-align: center;
    width: 56px;
    &:focus {
      outline: none;
    }
  }
  button {
    width: 32px;
    color: lighten(black, 65%);
    &:hover {
      color: var(--text-orange);
    }
  }
}

.bloc_input {
  @include flex(column, flex-start, flex-start);

  &__head {
    @include flex(row, space-between, center);
    width: 100%;
    margin: 0 0 9px 0;
  }
  .input_text {
    height: 56px;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    padding: 24px 0;
    text-indent: 24px;
    font-size: 14px;
    font-weight: 700;
    &:hover {
      border-color: var(--background-orange);
    }
    &:focus {
      outline: var(--background-orange);
      caret-color: var(--background-orange);
      border-color: var(--background-orange);
    }
  }
}

.bloc_input__radio {
  @include flex();
  position: relative;
  height: 56px;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
  @include flex(row, flex-start, center);
  width: 300px;
  text-indent: 52px;

  input[type="radio"] {
    display: none;
  }

  :before {
    position: absolute;
    @include size(1.25rem);
    content: " ";
    top: 1rem;
    left: 1rem;
    @include circle();
    border: 1px solid var(--border-grey);
  }
}

.full_width {
  width: 100%;
}

#demo {
  gap: 2rem;
  @include flex(column, flex-start, flex-start);
}
